<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Previous Year Question Papers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">

</head>
<body>

    <%- include('partials/navbar') %>

<div class="main-content">
    
  <div class="container my-5">
    <h2 class="text-center mb-4">Quantum</h2>

     <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">
      <input type="text" id="searchInput" class="form-control w-100 w-md-50" placeholder="ðŸ” Search notes..." />
    
    </div>

     <script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
      const val = this.value.toLowerCase();
      document.querySelectorAll(".note-card").forEach(card => {
        card.style.display = card.innerText.toLowerCase().includes(val) ? "block" : "none";
      });
    });
  </script>
    
    <div class="row">
      <% if (notes.length > 0) { %>
        <% notes.slice().reverse().forEach(note => { %>
         <div class="col-6 col-md-4 mb-4  note-card" >
            <div class="card pyq-card">
              <!-- <img src="<%= note.quantumImagePath %>" class="card-img-top" alt="Note Image"> -->
              <div class="card-body">
                <h5 class="card-title"><%= note.title %></h5>
                <p class="card-text"><%= note.quantumTitle %></p>
                <a href="<%= note.pyq %>" class="btn btn-pyq" target="_blank">View PYQ</a>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p class="text-center">No previous year question papers available.</p>
      <% } %>
    </div>
  </div>
</div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
